#home__hero__code .ace_gutter-layer {
  pointer-events: none;
}

#home__hero__code .ace_gutter, #home__hero__code .ace_gutter-layer {
  width: 41px !important;
}

#home__hero__code .ace_scroller {
  left: 41px !important;
}
