.home__hero__container {
    display: flex;
    gap: 1em;
}

.home__hero__header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: 500px;
}

.home__hero__title {
    margin-top: 150px;
    font-weight: var(--titleWeight);
    font-size: 375%;
    line-height: 120%;
    letter-spacing: -0.04em;
}

.home__hero__description {
    font-weight: 500;
    font-size: 125%;
    letter-spacing: 0.01em;
}

.home__hero__art {
    display: flex;
    align-items: center;
    overflow-x: visible;
}

.home__hero__art img {
    width: 75vw;
}