.base__layout {
    height: 1200px;
}

.base__navbar__container {
    position: sticky;
    top: 0;
    width: 100%;
}

.base__navbar {
    font-size: 1.5rem;
    font-weight: bold;
    height: 10vh;
    padding: 0 8vw;
}

.base__navbar img {
    height: 60%;
    cursor: pointer;
}

@media (min-width:900px) {
    .base__navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.base__navbar__links {
    list-style-type: none;
}

.base__navbar__links ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 3vw;
    align-items: center;
}

.base__navbar__links li {
    text-align: center;
}

.base__login__button {
    color: black;
    background-color: var(--primary-100);
    border: none;
    font-size: inherit;
    font-weight: inherit;
    padding: 0.3em 0.7em;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.base__login__button:hover {
    background-color: var(--primary-300);
    box-shadow: 1px 3px rgb(0, 0, 0, 0.7);
}

.base__content__container {
    margin: 0 2vw;
}